*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  background-color: white;
  display: flex;
}

header img{
  height: 70px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

footer span{
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: limegreen;
}

.game-wrapper{
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: scroll;
}

.game-wrapper .game-control{
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.6rem;
}

.input{
  margin-top: 20px;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.input:hover{
  transition: all .3s;
  background-color: orange;
  color: white;
}

.container{
  width: 600px;
  aspect-ratio: 1/1;
  background-color: transparent;
  opacity: 0;
  position: relative;
}

.container .overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.container .box{
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
}

.box.lvlsimple{
  width: calc(100% / 10);
}

.box.lvlmedium{
  width: calc(100% / 9);
}

.box.lvlhard{
  width: calc(100% / 7);
}

.fade-in{
  transition-delay: .5s;
  transition: all 3s;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.box.clicked{
  background-color: dodgerblue;
}

.box.bomb{
  background-color: darkred;
}

#output{
  padding: 30px 0;
  font-size: 2rem;
}